<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <style>
        body {
            text-align: center;
            font-size: 30px;
        }
        h3 {
            color: red;
        }
    </style>
</head>
<body>
    {% if media >= 6.0 %}
    <h1>Aprovado</h1>
    {% elif media >= 4.0%}
    <h2>Recuperação</h2>
    {% else %}
    <h3>Reprovado</h3>
    {% endif%}
    <p>
        
    </p>

    
</body>
</html>